.important-container {
  background-color: #E8EFFA;
  padding: 20px !important;
  border-radius: 10px;
}

.subtitle {
  margin-top: -60px;
  text-align: center;
}

.success {
  color: green;
}

.default {
  color: red; 
}

h1 {
  text-align: center;
}

h2 {
  margin-top: 50px !important;
  margin-bottom: 20px !important;
}